<h2 class="tutorial_title">-----やり方-----</h2>



<div class="tutorial_text">
    <p>アイデアは未知のものを合体させることで生まれる<br>
        アイデイアを投稿し、合体させよ！
    </p>
</div>


<p><%= link_to "topに戻る", "/" , class: :post%></p>